$pure-white: #fff;
$pure-black: #000;
$test-red: #f4020e;
$test-blue: #161eff;
$test-green: #05fc63;
$orange: #e55829;

nav {
  background-color: $pure-white;
}

.game-notes {
  background-color: $pure-white;
}

.game {
  background-color: $test-blue;
}

footer {
  background-color: $pure-white;
}

.fun {
  background-color: $test-red;
}
